body {
    background-color: black;
    margin: 0;
}


.loader-ctn {
	display: flex;
	width: 100vw;
	height: 100vh;
	align-items: center;
	justify-content: center;
}

.loader {
	width: 45px;
	aspect-ratio: .75;
	--c: no-repeat linear-gradient(#800000 0 0);
	background: 
	  var(--c) 0%   50%,
	  var(--c) 50%  50%,
	  var(--c) 100% 50%;
	background-size: 20% 50%;
	animation: loader-anim 1s infinite linear;
}

.hide {
	display: none;
}

@keyframes loader-anim {
	20% {background-position: 0% 0%  ,50% 50% ,100% 50% }
	40% {background-position: 0% 100%,50% 0%  ,100% 50% }
	60% {background-position: 0% 50% ,50% 100%,100% 0%  }
	80% {background-position: 0% 50% ,50% 50% ,100% 100%}
}